
<template name="TransactionsList">

  <h1>All transactions</h1>

  {{> CreateTransaction}}

  <div class="transactions-list">

    <h3>Payments</h3>
    {{#TableWrapper}}
      <tbody>
        {{#each transactions "payment"}}
          {{> TransactionItem}}
        {{/each}}
      </tbody>
      <tfoot>
        <tr class="total">
          <td class="text-right" colspan=2>
            <strong>Total:</strong>
          </td>
          <td class="text-right">
            {{transactionsTotal}}
          </td>
        </tr>
      </tfoot>
    {{/TableWrapper}}

  </div>
</template>

