.transactions-list {

  table {
    padding-right: 0px;
    padding-left: 0px;
  }
  tr.total {
    background-color: #99FF99;
  }

  .table-hover {
    > tbody > tr:hover {
      background-color: yellow;
      cursor: pointer;
    }
  }
}
