<template name="Header">
  <ul id="login-dropdown" class="dropdown-content">
    <li><a href="#">Login Todo</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Meteor Money</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a class="dropdown-button" href="#"
            data-activates="login-dropdown">Todo: Login Button</a></li>
      </ul>
    </div>
  </nav>
    {{> loginButtons}}
</template>
