<template name="TableWrapper">
  <table class="table table-striped table-hover auto">
    <thead>
      <tr>
        <th>Date</th>
        <th class="text-center">Description</th>
        <th class="text-right">Amount</th>
      </tr>
      <tr>
        <th colspan=3>{{> UI.contentBlock}}</th>
      </tr>
    </thead>

    {{#if transactionsExist}}
      <tbody>
        {{#each transactions type}}
          {{> TransactionItem}}
        {{/each}}
      </tbody>

      <tfoot>
        <tr class="total">
          <td class="text-left" colspan=2>
            <strong>Total:</strong>
          </td>
          <td class="text-right">
            {{#with transactionsTotal type}}
              <strong>{{formatCurrency this}}</strong>
            {{/with}}
          </td>
        </tr>
      </tfoot>

      {{else}}
      <tbody>
        <tr>
          <td colspan=3>
            There are no transactions to show
          </td>
        </tr>
      </tbody>
    {{/if}}
  </table>
</template>
